.photo-list__fav-icon {
  position: absolute;
  border: none;
  top: 16px;
  left: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: white;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.photo-list__fav-icon-svg {
  padding: 7px;
  top: 2px;
}